---
title: People
description: Matthew- People Section (PIs, Alumni, Current students)
permalink: people
visible: true
order: 1
---

{% if site.data.people %}
<div class="hyde portfolio row">
  {% for item in site.data.people reversed %} {% assign identifier = item.image | split: "." | first %}
  <div class="hyde portfolio-item-wrapper col-lg-4 col-md-6 col-sm-12">
    <div class="hyde portfolio-item">
      <a href="#{{ identifier }}">
        
        <div class="hyde thumbnail" style="background-image: url('https://avatars.githubusercontent.com/u/107779454?v=4');"></div>
        <div class="hyde portfolio-overlay">
          <h3>{{ item.title }}</h3>
          <span>{{ item.description }}</span>
        </div>
      </a>
    </div>
  </div>
  <div id="{{ identifier }}" class="hyde lightbox" onclick="history.back()">
    <img src="{{ site.baseurl }}/assets/images/portfolio/{{ item.image }}" alt="{{ item.image | split: '.' | first }}" onclick="event.stopPropagation()" />
  </div>
  {% endfor %}
</div>
{% else %}
<div class="hyde empty">
  <img src="{{ site.baseurl }}/assets/images/waldo.png" alt="not_found" />
  <p>게시물이 없습니다.</p>
</div>
{% endif %}
